/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.rect{
	-fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #fae9b6 0%, #e0d09d 100%);
}
.transparentArea{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}
.transparentArea .content{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}
.transparentArea .scroll-pane{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}
.containerLayer1{
	-fx-border-radius: 15px;
	-fx-border-width: 4px;
	-fx-border-color: #c4b278;
	-fx-border-insets: 10px;
	-fx-background-color: #c4b278;
	-fx-background-radius: 15px;
	-fx-background-insets: 10px;
}
.containerLayer2{
	-fx-background-radius: 15px;
	-fx-background-color: #cfbb7e;
}
.containerLayer3{
	-fx-background-color: white;
	-fx-background-radius: 5px;
}
.beigeTextArea{
	-fx-background-color: #f2da94;
}
.list{
	-fx-background-color: transparent;
	-fx-font-color: blue;
}
.list .cell{
	-fx-background-radius: 2px;
	-fx-background-color: #ded4b1;
	-fx-color: transparent;
}
.list .cell:empty{
	-fx-background-color: transparent;
}
.beigeButton{
	-fx-color: #f2da94;
	-fx-background-color: transparent;
	-fx-border-color: #c4b278;
	-fx-border-radius: 5px;
	-fx-border-width: 3px;
}